[mail]

user: Walter Moreira <gwallter@gmail.com>
password: <my password for the mail service>
server: <my mail service>

[gpg]

key: 1DB0E000
passphrase: foo bar baz

[s3]

AWS_ACCESS_KEY_ID: key
AWS_SECRET_ACCESS_KEY: sec key

[duplicity]

sources: /home/walter/foo
         /home/walter/bar

destinations: /baz/bar
              s3+http://sdfsf



